// Нормалізатор, перемінні
@import '../sass/utilities/variables';
@import '../sass/utilities/breakpoints';
@import '../sass/utilities/normalize';
@import '../sass/utilities/reset';
// Стилі блоків сторінок
@import '../sass/layouts/base';

@import '../sass/block/header-home';
@import '../sass/block/gallery-home';
@import '../sass/block/modal-film';

