// Нормалізатор, перемінні
@import '../sass/utilities/variables';
@import '../sass/utilities/breakpoints';
@import '../sass/utilities/normalize';
@import '../sass/utilities/reset';
@import '../sass/utilities/spinner';
// Стилі блоків сторінок
@import '../sass/layouts/base';

@import '../sass/block/header-home';
// @import '../sass/block/filter.scss';
@import '../sass/block/filter.scss';
// 
@import './block/form';
@import './block/change-theme';


// 
@import '../sass/block/card-styles';
// 
@import './block/gallery';
// 
@import '../sass/block/modal-film';
@import './block/pagination';

@import '../sass/block/footer';
@import './block/change-theme';

