.dark {
  background-color: #333;
  color: white;
}

.theme {
  position: sticky;
  margin-right: 8px;
  margin-left: 9px;
  width: 14px;
  height: 14px;
  top: 0px;
  right: 19px;
  display: flex;
  margin-left: auto;
  border-radius: 50%;
  @media screen and (min-width: 350px) {
    position: sticky;
    margin-right: 8px;
    margin-left: 9px;
    width: 20px;
    height: 20px;
    top: 0px;
    right: 19px;
    display: flex;
    margin-left: auto;
    border-radius: 50%;
  }

  @media screen and (min-width: 768px) and (max-width: 839px) {
    position: sticky;
    margin-right: 8px;
    margin-left: 9px;
    width: 20px;
    height: 20px;
    top: 0px;
    right: 19px;
    display: flex;
    margin-left: auto;
    border-radius: 50%;
  }
  @media screen and (min-width: 1366px) {
    position: sticky;
    margin: 9px;
    width: 50px;
    height: 50px;
    top: 0px;
    right: 0px;
    display: block;
    margin-left: auto;
    border-radius: 50%;
    &:hover {
      box-shadow: 0 0 10px 5px #ff6b08;
      transition: box-shadow 0.25s linear;
    }
  }

  &__btn {
    width: 100%;
    height: 100%;
    padding-top: 3px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
  }
  &__btn--light {
    background-color: transparent;
    display: none;
  }
  &__btn--dark {
    background-color: transparent;
    @media screen and (min-width: 350px) {
      background-color: transparent;
    }
  }
  &__icon-sun {
    width: 25px;
    height: 25px;
    fill: $button-orange;
    @media screen and (min-width: 350px) {
      width: 25px;
      height: 25px;
      fill: $button-orange;
    }
    @media screen and (min-width: 768px) and (max-width: 839px) {
      width: 25px;
      height: 25px;
      fill: $button-orange;
    }
    @media screen and (min-width: 1366px) {
      width: 30px;
      height: 30px;
      fill: $button-orange;
    }
  }
  &__icon-moon {
    width: 25px;
    height: 25px;
    fill: #000;
    @media screen and (min-width: 350px) {
      width: 25px;
      height: 25px;
      fill: #000;
    }

    @media screen and (min-width: 768px) and (max-width: 839px) {
      width: 25px;
      height: 25px;
      fill: #000;
    }
    @media screen and (min-width: 1366px) {
      width: 30px;
      height: 30px;
      fill: #000;
    }
  }
}
