.dark {
  background-color: #333;
  color: white;
}

.theme {
  margin: 7px;
  margin-right: 25px;
  margin-left: auto;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  @media screen and (min-width: 1366px) {
    margin-top: 7px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    right: 0px;
    display: flex;
    margin-left: auto;
    &:hover {
      box-shadow: 0 0 10px 5px #ff6b08;
      transition: box-shadow 0.25s linear;
    }
  }

  &__btn {
    width: 100%;
    height: 100%;
    padding-top: 3px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
  }
  &__btn--light {
    background-color: transparent;
    display: none;
  }
  &__btn--dark {
    background-color: transparent;
  }
  &__icon-sun {
    width: 25px;
    height: 25px;
    fill: white;
    @media screen and (min-width: 1366px) {
      width: 30px;
      height: 30px;
    }
  }
  &__icon-moon {
    width: 25px;
    height: 25px;
    fill: #fff;
    @media screen and (min-width: 1366px) {
      width: 30px;
      height: 30px;
    }
  }
}
