.main {
    padding-top: 20px;
    padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.gallery {
    margin: 0;
    padding: 0;

    list-style: none;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;

        row-gap: 32px;
        column-gap: 32px;
    }

    @media screen and (min-width: 1280px) {
        column-gap: 16px;
    }
}

.gallery__item {
    width: 280px;

    @media screen and (min-width: 768px) {
        width: 336px;
    }

    @media screen and (min-width: 1280px) {
        width: calc((100% - 32px) / 3);
    }
}

.gallery__item:not(:last-child) {
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
}

.gallery__link {
    display: flex;
    flex-direction: column;
    width: 100%;

    cursor: pointer;

}

.img__wrap {
    display: block;
    width: 100%;
    // flex-grow: 1;
    height: 398px;

    @media screen and (min-width: 768px) {
        height: 455px;
    }

    @media screen and (min-width: 1280px) {
        height: 574px;
    }
}

.gallery__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 5px;
    background-color: #F7F7F7;
}

.gallery__info {
    margin: 0;
    padding-top: 8px;
    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: 1.2;
    }
}

.gallery__info--title {
    display: block;
    text-transform: uppercase;
}

.galery__info--text {
    color: var(--accent-color);
}

.gallery__info--vote {
    display: inline-block;
    padding: 1px 10px;
    line-height: 14px;
    background-color: var(--accent-color);
    color: #FFFFFF;
    border-radius: 5px;

    @media screen and (min-width: 1280px) {
        font-size: 12px;
        line-height: 1.33;
    }
}