header {
    padding-top: 40px;
    height: 230px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;

    @media screen and (min-width: 768px) {
        height: 216px;
    }

    @media screen and (min-width: 1280px) {
    }
}

.logo {
    height: 24px;
    width: 24px;
    background-image: url('../images/film-logo.svg');

    @media screen and (min-width: 768px) {
        width: 163px;
        background-image: url('../images/film-logo-big.svg');
    }
}
