@import './header';
@import './nav';

header {
    background-image: url('../images/my-library/background-library-320x230.jpg');

    @media screen and (min-width: 768px) {
        background-image: url('../images/my-library/background-library-768x216.jpg');
    }

    @media screen and (min-width: 1280px) {
        background-image: url('../images/my-library/background-library-1280x216.jpg');
    }
}

.header__buttons {
    margin-left: auto;
    margin-right: auto;

    margin-top: 60px;
    width: 100%;

    @media screen and (min-width: 768px) {
        margin-top: 40px;
        width: 336px;
    }

    @media screen and (min-width: 1280px) {
        width: 312px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 130px;
    height: 44px;

    @media screen and (min-width: 768px) {
        width: 152px;
    }
    
    @media screen and (min-width: 1280px) {
        width: 148px;
    }

    text-transform: uppercase;
    color: #FFFFFF;
    outline: none;
    border-radius: 5px;

    background: none;
    border: 1px solid #FFFFFF;

    cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn--is-active {
    background: var(--accent-color);
    border: none;
}

.header__link--noCurrent {
    border-radius: 3px;
}

.header__sign-in-btn {
    margin-left: 40px;
    height: 25px;
    width: auto;
    max-width: 100px;
    padding: 0 5px 0 5px;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 5px;

    background: none;
    border: 1px solid #FFFFFF;
    ;

    cursor: pointer;
}

.header__sign-out-btn {
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    border: 1px solid #000;
    background: none;
    padding: 3px 10px;
    border-radius: 5px;

    color: #000;

    cursor: pointer;

    &:hover,
    &:focus {
        color: #FFFFFF;
        border-color: #FFFFFF;
    }

    @media screen and (min-width: 768px) {
        font-size: 15px;
    }
}


.sign-in--button {
    @media screen and (max-width: 767px) {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }
}

.sign-in--icon-container {
    display: flex;
    align-items: center;
    margin-left: 40px;
    fill: #FFFFFF;

    @media screen and (min-width: 768px) {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }

    &:hover,
    &:focus {
        cursor: pointer;
        // fill: var(--accent-color);
    }
}

.sign-in--button-container {
    position: relative;
}

.user-info {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    border-radius: 5px;
    background-color: rgb(161, 156, 156);

    position: absolute;

    @media screen and (max-width: 767px) {
        font-size: 10px;
        right: -24px;
        top: 10px;
    }

    @media screen and (min-width: 768px) {
        right: 0;
    }
}
