// Можна винести окремо, якщо потрібно
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  transition-property: opacity, visibility;
  transition-duration: 500ms;
  transition-timing-function: linear;
  &.hidden {
    pointer-events: none;
    visibility: hidden;
  }
}

.btn__standart {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  min-width: 110px;
  padding: 6px 0;
  @media screen and (min-width: 768px) {
    min-width: 125px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 136px;
  }
  border: 1px solid $text-black;
  background-color: $background-white;
  box-sizing: border-box;
  border-radius: 5px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $button-orange;
    color: $text-white;
    border-color: $button-orange;
    cursor: pointer;
  }
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  @media screen and (min-width: 768px) {
    padding: 12px 0;
  }
  &--orange {
    background-color: $button-orange;
    color: $text-white;
    border: 0;
    &:hover,
    &:focus {
      background-color: $background-white;
      color: $text-black;
      border: 1px solid $text-black;
    }
  }
}

// стилі модального вікна
.modal {
  max-width: 280px;
  max-height: calc(100% - 40px);
  width: 100%;
  // pointer-events: none;
  

  @media screen and (min-width: 768px) {
    max-width: 704px;
    max-height: 552px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 806px;
    max-height: 558px;
  }
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: $background-white;

  &__data--content {
    @media screen and (min-width: 768px) {
        display: flex;
    } 
  }

  &__data {
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-right: 20px;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      padding-left: 72px;
      padding-right: 36px;
    }
    @media screen and (min-width: 1200px) {
      padding-left: 12px;
      padding-right: 12px;
    }

    &--poster {
      margin: 0 0 20px 0;
      border-radius: 5px;
      @media screen and (min-width: 768px) {
        width: 40%;
        margin: 0 68px 0 0;
      }
      @media screen and (min-width: 1200px) {
        margin: 0 16px 0 0;
      }
    }
    &--description {
      @media screen and (min-width: 768px) {
        width: 60%;
      }
    }
    &--title {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-transform: uppercase;
      @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 35px;
      }
      &--about {
        text-transform: uppercase;
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 16px;
      }
    }

    &--table {
      width: 100%;
      margin: 20px 0;
      text-align: left;
      font-size: 12px;
      line-height: 16px;
      th {
        width: 40%;
        color: $modal-text-grey;
      }
      td {
        width: 60%;
        text-transform: uppercase;
      }
    }
    &--text {
      max-height: 236px;
      overflow: auto;
      margin-bottom: 20px;
      @media screen and (min-width: 1280px) {
        max-height: 160px;
      }
    }
    &--add {
      display: flex;
      justify-content: center;
      @media screen and (min-width: 1280px) {
        justify-content: start;
        padding-left: 8px;
      }
    }
    &--element {
      min-width: 36px;
      display: inline-block;
      text-align: center;
      border-radius: 5px;
      background-color: #f7f7f7;
      &--orange {
        background-color: $button-orange;
        color: $text-white;
      }
    }
  }
  &__btn {
    &.btn__standart--orange {
      margin-right: 20px;
      @media screen and (min-width: 768px) {
        margin-right: 15px;
      }
    }
    &--close {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      position: absolute;
      top: 8px;
      right: 8px;
      padding: 0;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      background-color: $background-white;
      border-radius: 50%;
      border: 0;
      &:hover,
      &:focus {
        background-color: $button-orange;
      }
      svg {
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        stroke: $text-black;
        &:hover,
        &:focus {
          stroke: $text-white;
        }
      }
    }
  }
}

