nav {
    width: 100%;

    display: flex;
    justify-content: left;
    align-items: center;
}

.nav__menu {
    margin: 0;
    padding: 0;

    width: 144px;
    // width: 50%;
    margin-left: auto;
    // margin-left: calc(50% - 24px);

    // @media screen and (min-width: 768px) {
    //     margin-left: calc(50% - 163px);
    // }

    display: flex;
    align-items: center;
}

.nav__item {
    list-style: none;
}

.nav__item:last-child {
    margin-left: auto;
}

.nav__link {
    position: relative;

    display: block;

    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__link--curr::after {
    content: '';
    display: block;

    position: absolute;
    top: calc(100% + 3px);
    left: 0;

    width: 100%;
    height: 3px;

    background-color: var(--add-color);
}