* {
    box-sizing: border-box;
}

body {
    color: $text-black;
    background-color: $background-white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

a,
a:active {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}