* {
    box-sizing: border-box;
}

body {
    color: $text-black;
    background-color: $background-white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.03em;
}

body,
html {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
flex: 1 1 auto;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

a,
a:active {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}