// Кольори
$background-white: #FFFFFF;
$text-white: #FFFFFF;
$text-orange: #FF6B08;
$alert-red-text: #FF001B;
$current-page-red-line: #FF001B;
$text-black: #000000;
$footer-text-grey: #545454;
$button-orange: #FF6B08;
// Анімації
$transition-options: 250ms cubic-bezier(0.4, 0, 0.2, 1);