<div class="autorization-backdrop is-hidden" id="autor-backdrop">
    <div class="autorization-modal">
        <form class="search-form" id="search-form">
            <input class="inputEmail" type="email" name="email" autocomplete="off" placeholder="Email" />
            <input class="inputPassword" type="password" name="password" autocomplete="off" placeholder="Password" />
            <button type="button" class="enterBtn">Войти</button>
            <button type="button" class="registrationBtn">Зарегестрироваться</button>
            <button class="autorization-modal__btn--close" type="button" id="autor-modal-close-btn">
                <svg class="autorization-modal__icon">
                    <use class="autorization-modal__close-icon" href="./images/icons-sprite.svg#close"></use>
                </svg>
            </button>
        </form>
    </div>
</div>