<!-- <div class="filter__form-group">
  <div class="filter__dropdown">
    <button class="filter__dropdown-button">Genres</button>
    <ul class="filter__dropdown-list">
      <li class="filter__dropdown-item" data-value="action">Action</li>
      <li class="filter__dropdown-item" data-value="adventure">Adventure</li>
      <li class="filter__dropdown-item" data-value="animation">Animation</li>
      <li class="filter__dropdown-item" data-value="comedy">Comedy</li>
      <li class="filter__dropdown-item" data-value="crime">Crime</li>
      <li class="filter__dropdown-item" data-value="documentary">
        Documentary
      </li>
      <li class="filter__dropdown-item" data-value="drama">Drama</li>
      <li class="filter__dropdown-item" data-value="family">Family</li>
      <li class="filter__dropdown-item" data-value="fantasy">Fantasy</li>
      <li class="filter__dropdown-item" data-value="history">History</li>
      <li class="filter__dropdown-item" data-value="horror">Horror</li>
      <li class="filter__dropdown-item" data-value="music">Music</li>
      <li class="filter__dropdown-item" data-value="mystery">Mystery</li>
      <li class="filter__dropdown-item" data-value="romance">Romance</li>
      <li class="filter__dropdown-item" data-value="science-fiction">
        Science Fiction
      </li>
      <li class="filter__dropdown-item" data-value="tv-movie">TV Movie</li>
      <li class="filter__dropdown-item" data-value="thriller">Thriller</li>
      <li class="filter__dropdown-item" data-value="war">War</li>
      <li class="filter__dropdown-item" data-value="western">Western</li>
    </ul>
  </div>
</div> -->
