<div class="filter__form-group">
  <div class="filter__dropdown">
    <button class="filter__dropdown-button">Genres</button>
    <ul class="filter__dropdown-list">
      <li class="filter__dropdown-item" data-value="28">Action</li>
      <li class="filter__dropdown-item" data-value="12">Adventure</li>
      <li class="filter__dropdown-item" data-value="16">Animation</li>
      <li class="filter__dropdown-item" data-value="35">Comedy</li>
      <li class="filter__dropdown-item" data-value="80">Crime</li>
      <li class="filter__dropdown-item" data-value="99">Documentary</li>
      <li class="filter__dropdown-item" data-value="18">Drama</li>
      <li class="filter__dropdown-item" data-value="10751">Family</li>
      <li class="filter__dropdown-item" data-value="14">Fantasy</li>
      <li class="filter__dropdown-item" data-value="36">History</li>
      <li class="filter__dropdown-item" data-value="27">Horror</li>
      <li class="filter__dropdown-item" data-value="10402">Music</li>
      <li class="filter__dropdown-item" data-value="9648">Mystery</li>
      <li class="filter__dropdown-item" data-value="10749">Romance</li>
      <li class="filter__dropdown-item" data-value="878">Science Fiction</li>
      <li class="filter__dropdown-item" data-value="10770">TV Movie</li>
      <li class="filter__dropdown-item" data-value="53">Thriller</li>
      <li class="filter__dropdown-item" data-value="10752">War</li>
      <li class="filter__dropdown-item" data-value="37">Western</li>
    </ul>
  </div>
</div>
