<p class="footer__text">
  © 2022 | All Rights Reserved |
  <span class="footer__text-span"></span>
    &nbsp;Developed with&nbsp;<svg class="footer__icon" width="18" height="13">
      <use
        class="footer__icon-heart"
        href="./images/icons-sprite.svg#footer_heart"
      ></use></svg>&nbsp;by&nbsp;
      <a class="footer__link" href="" data-modal-open>GoIT Students</a>
      <!-- <button class="footer__btn--open" data-modal-open>GoIT Students</button> -->
</p>

<div class="footer-backdrop is-hidden" data-modal>
    <div class="footer-modal">
        <p class="footer-modal__text">Our team</p>
        <button class="footer-modal__btn--close" type="button" data-modal-close>
          <svg class="footer-modal__icon">
      <use
        class="footer-modal__close-icon"
        href="./images/icons-sprite.svg#close"
      ></use></svg>
        </button>
        <ul class="team">
            <li class="team__item">
              <a class="team__link" href="https://github.com/khodetsky">
                <img class="team__img" src="./images/devcats/cat1.png" alt="team member">
              </a>
              <p class="team__name">Alexander Khodetskiy</p>
              <p class="team__position">Team Lead</p>
            </li>
            <li class="team__item"><a class="team__link" href="https://github.com/milintey">
              <img class="team__img" src="./images/devcats/cat2.png" alt="team member">
            </a>
            <p class="team__name">Ilya Milinteev</p>
            <p class="team__position">Scrum Master</p>
          </li>
            <li class="team__item"><a class="team__link" href="https://github.com/ArkZaslavskyi">
              <img class="team__img" src="./images/devcats/cat3.png" alt="team member">
            </a>
            <p class="team__name">Arkadii Zaslavskyi</p>
            <p class="team__position">Developer</p>
          </li>
            <li class="team__item"><a class="team__link" href="https://github.com/azhivaya">
              <img class="team__img" src="./images/devcats/cat4.png" alt="team member">
            </a>
            <p class="team__name">Alina Zhyva</p>
            <p class="team__position">Developer</p>
          </li>
            <li class="team__item"><a class="team__link" href="https://github.com/annamatvieieva">
              <img class="team__img" src="./images/devcats/cat5.png" alt="team member">
            </a>
            <p class="team__name">Anna Matvieieva</p>
            <p class="team__position">Developer</p>
          </li>
            <li class="team__item"><a class="team__link" href="https://github.com/ArtemYakushkin">
              <img class="team__img" src="./images/devcats/cat6.png" alt="team member">
            </a>
            <p class="team__name">Artem Yakushkin</p>
            <p class="team__position">Developer</p>
          </li>
            <li class="team__item"><a class="team__link" href="https://github.com/SashaMaslak">
              <img class="team__img" src="./images/devcats/cat7.png" alt="team member">
            </a>
            <p class="team__name">Sasha Maslak</p>
            <p class="team__position">Developer</p>
          </li>
          
    </div>
</div>

<!-- body.modal-open {
  overflow: hidden;
} -->

