<div class="container">
  <div class="header__inner">
    <div class="header__top">
      <a class="header__logo" href="/src/index.html">
        <svg class="header__logo-icon" width="24" height="24">
          <use href="./images/icons-sprite.svg#film"></use>
        </svg>
        <p class="header__logo-text">Filmoteka</p>
      </a>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="/src/index.html" class="header__link header__link--current"
              >Home</a
            >
          </li>
          <li class="header__item">
            <a
              href="/src/my-library.html"
              class="header__link header__link--noCurrent"
              >my library</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="filter-theme">
      <include src="./partials/filter.html"></include>
      <include src="./partials/change-theme.html"></include>
    </div>
    <div class="header__center">
      <!-- Попередня форма  -->
      <!-- <form class="header__form" id="search-form">
        <input
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Movie search"
        />
        <svg class="header__form-icon" width="12" height="12">
          <use href="./images/icons-sprite.svg#search"></use>
        </svg>
      </form> -->

      <!-- Поточна форма -->
      <form id="form" class="form">
        <input
          id="input"
          type="text"
          class="form__input"
          placeholder="Movie search"
          autocomplete="off"
        /><button id="search" type="submit" class="form__btn-submit">
          <svg class="header__icon-search">
            <use href="./images/icons-sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <p class="header__text-error is-hidden">
      The search result is unsuccessful. Enter the correct movie title.
    </p>
  </div>
</div>
