<div class="container">
  <div class="header__inner">
    <div class="header__top">
      <a class="header__logo" href="/src/index.html">
        <svg class="header__logo-icon" width="24" height="24">
          <use href="./images/icons-sprite.svg#film"></use>
        </svg>
        <p class="header__logo-text">Filmoteka</p>
      </a>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="/src/index.html" class="header__link header__link--current"
              >Home</a
            >
          </li>
          <li class="header__item">
            <a href="/src/my-library.html" class="header__link">my library</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__center">
      <!-- Попередня форма  -->
      <!-- <form class="header__form" id="search-form">
        <input
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Movie search"
        />
        <svg class="header__form-icon" width="12" height="12">
          <use href="./images/icons-sprite.svg#search"></use>
        </svg>
      </form> -->

      <!-- Поточна форма -->
      <form id="form" class="form">
        <input
          id="input"
          type="text"
          class="form__input"
          placeholder="Movie search"
        /><button id="search" type="submit" class="form__btn-submit"></button>
      </form>
    </div>
    <p class="header__text-error is-hidden">
      The search result is unsuccessful. Enter the correct movie title.
    </p>

    <div class="header__form-group">
      <div class="header__dropdown">
        <button class="header__dropdown-button">Genres</button>
        <ul class="header__dropdown-list">
          <li class="header__dropdown-item" data-value="action">Action</li>
          <li class="header__dropdown-item" data-value="adventure">
            Adventure
          </li>
          <li class="header__dropdown-item" data-value="animation">
            Animation
          </li>
          <li class="header__dropdown-item" data-value="comedy">Comedy</li>
          <li class="header__dropdown-item" data-value="crime">Crime</li>
          <li class="header__dropdown-item" data-value="documentary">
            Documentary
          </li>
          <li class="header__dropdown-item" data-value="drama">Drama</li>
          <li class="header__dropdown-item" data-value="family">Family</li>
          <li class="header__dropdown-item" data-value="fantasy">Fantasy</li>
          <li class="header__dropdown-item" data-value="history">History</li>
          <li class="header__dropdown-item" data-value="horror">Horror</li>
          <li class="header__dropdown-item" data-value="music">Music</li>
          <li class="header__dropdown-item" data-value="mystery">Mystery</li>
          <li class="header__dropdown-item" data-value="romance">Romance</li>
          <li class="header__dropdown-item" data-value="science-fiction">
            Science Fiction
          </li>
          <li class="header__dropdown-item" data-value="tv-movie">TV Movie</li>
          <li class="header__dropdown-item" data-value="thriller">Thriller</li>
          <li class="header__dropdown-item" data-value="war">War</li>
          <li class="header__dropdown-item" data-value="western">Western</li>
        </ul>
      </div>
    </div>

    <div class="theme">
      <button class="theme__btn theme__btn--light" data-theme="light">
        <svg class="theme__icon-sun" width="30" height="30">
          <use href="./images/icons-sprite.svg#icon-sun"></use>
        </svg>
      </button>
      <button class="theme__btn theme__btn--dark" data-theme="dark">
        <svg class="theme__icon-moon" width="30" height="30">
          <use href="./images/icons-sprite.svg#icon-moon"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
