<div class="container">
  <nav>
    <a class="logo" href="./index.html"></a>
    <ul class="nav__menu">
      <li class="nav__item">
        <a href="./index.html" class="nav__link header__link--noCurrent"
          >home</a
        >
      </li>
      <li class="nav__item">
        <a href="./my-library.html" class="nav__link nav__link--curr"
          >my library</a
        >
      </li>
    </ul>
  </nav>
  <include src="./partials/change-theme.html"></include>
  <div class="header__buttons">
    <button id="watched" type="button" class="btn btn--is-active">
      watched
    </button>
    <button id="queue" type="button" class="btn">queue</button>
  </div>
  <!-- <h1>index-header</h1> -->
</div>
