<div class="backdrop hidden">
  <div class="modal">
    <div class="modal__data">
      <div class="modal__data--poster">
        <img src="#" alt="film" />
      </div>
      <div class="modal__data--description">
        <h1 class="modal__data--title">movie name</h1>
        <table class="modal__data--table">
          <tr>
            <th>Vote / Votes</th>
            <td>
              <span class="modal__data--element modal__data--element--orange"
                >0</span
              >
              /
              <span class="modal__data--element modal__data--element--white"
                >0</span
              >
            </td>
          </tr>
          <tr>
            <th>Popularity</th>
            <td>0</td>
          </tr>
          <tr>
            <th>Original Title</th>
            <td>Title</td>
          </tr>
          <tr>
            <th>Genre</th>
            <td>Some genre</td>
          </tr>
        </table>
        <div>
          <h2 class="modal__data--title--about">about</h2>
          <div class="modal__data--text">
            <p>
              <b>Film</b>, also called motion picture or movie, series of still
              photographs on film, projected in rapid succession onto a screen
              by means of light. Because of the optical phenomenon known as
              persistence of vision, this gives the illusion of actual, smooth,
              and continuous movement. Film is a remarkably effective medium in
              conveying drama and especially in the evocation of emotion. The
              art of motion pictures is exceedingly complex, requiring
              contributions from nearly all the other arts as well as countless
              technical skills (for example, in sound recording, photography,
              and optics).Emerging at the end of the 19th century, this new art
              form became one of the most popular and influential media of the
              20th century and beyond.As a commercial venture, offering
              fictional narratives to large audiences in theatres, film was
              quickly recognized as perhaps the first truly mass form of
              entertainment. Without losing its broad appeal, the medium also
              developed as a means of artistic expression in such areas as
              acting, directing, screenwriting, cinematography, costume and set
              design, and music.
            </p>
          </div>
          <div class="modal__data--add">
            <button
              class="modal__btn btn__standart btn__standart--orange"
              type="button"
            >
              add to watched
            </button>
            <button class="modal__btn btn__standart" type="button">
              add to queue
            </button>
          </div>
        </div>
      </div>
      <button class="modal__btn--close" type="button">
        <svg>
          <use href="images/icons-sprite.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
