<div id="pagination">
  <button type="button" class="pg-btn btn-left" data-page="prev">
    <svg class="pg-btn__arrow">
      <use
        class="pg-btn__icon"
        href="./images/icons-sprite.svg#arrow-left"
      ></use>
    </svg>
  </button>

  <div id="page-numbers"></div>

  <button type="button" class="pg-btn btn-right" data-page="next">
    <svg class="pg-btn__arrow">
      <use
        class="pg-btn__icon"
        href="./images/icons-sprite.svg#arrow-right"
      ></use>
    </svg>
  </button>
</div>
